.App {
  text-align: center;
}
.notifications-container {
  width: 120px;
  margin: auto;
}
.notifications-item {
  cursor: pointer;
  margin: 2rem auto;
  color: #fff;
  background: red;
}
.notifications-item.read {
  background: #ccc;
}
.notifications-item:hover {
  background: grey!important;
}
